@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100&family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@1,300&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	margin:0px;
	padding:0px;
	background-color:#ffffff;	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 110vh;
	box-sizing: border-box;
	background-size: 1550px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/flower.png");
	background-color:#f5e1ce;
}

#gallerymain{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 920vh;
	box-sizing: border-box;
	background-size: 1600px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: radial-gradient(circle, #f5e7d4, #f2e1ca, #efdac1, #edd4b7, #eacdae, #e3c7a6, #ddc19f, #d6bb97, #cab48f, #bfae88, #b3a881, #a8a17b);
	
}

main{
	margin-left: 120px;


}

.gallery{
	display: block;
	float: left;
	width: 30%;
	padding: 10px;
	padding-left: 10px;
	
}

img{
	width: 100%;
	border-radius: 2px;

}


#familymain{
	padding:30px 50px;
	position:relative;
	box-sizing: border-box;
	background-size: 1600px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: radial-gradient(circle, #cef0e7, #c6eee5, #beede3,
	 #b6ebe1, #aee9df, #a6e8de, #9ee7de, #96e6de, #8de6df, #83e6e0, #78e6e1, #6ce6e3);
}

#experiencemain{
	padding:30px 50px;
	position:relative;
	box-sizing: border-box;
	background-color: #f9d1b7;
	background-image: radial-gradient(circle, #f3e5ed, #f4dcec, #f5d3eb, #f4caeb,
	 #f2c2ec, #eebbeb, #eab3ea, #e5acea, #dea4e7, #d69ce3, #ce95e0, #c68ddd);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	
}

#educationmain{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	background-size: 2000px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/bubble.png");
	background-color:#F9EBC6;


}

#biodatamain{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 200%;
	box-sizing: border-box;
	background-size: 1600px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/plain.jpg");
	background-color:#F9EBC6;




}	

#viewdetailsmain{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	background-size: 1800px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/Hellothere.png");
	background-color:#F9EBC6;
}

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:rgb(248, 173, 127);
	box-shadow:2px 2px 12px rgba(233, 183, 149, 0.05); 
	z-index: 1;
	height: 8%;

}


footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(248, 173, 127);
  color: rgb(1, 1, 2);
}
 
.menu{
	display: flex;
}
.menu li a{
	
	padding: 10px 20px;
	color:#6c707c;
	font-size: 16px;
	position: center;
	display: inline-block;
	
}
.lang{
	color:#292929;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family:Poppins;
}
.toggle{
	display: none;
}
.active a,
.menu li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
	position: center;
	


}


.name{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 30%;
	top: 60%;
	transform: translate(-20%,-50%);
	
}
.name p:nth-child(1),.name .details{
	color:#6c707c;
	font-size: 25px;
}
.name h1{
	font-family:Poppins;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color:#FFFFFF;
}
.cv-btn:hover{
	background-color: #888282;
	transition: all ease 0.5s;
}

 

 
 
.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;
 
}
.social a{
	margin: 6px 12px;
 
}
.social i{
	color:rgba(18,17,17,0.40);
	font-size: 14px;
}
.social a:hover i{
	color:#17d1ac;
	transition: all ease 0.5s;
}

#about{
	width:100%;
	height: 100vh;
	background-color:#F8F9C7;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
	
	
}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
}
.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(14, 9, 9, 0.9);
	
}
.about-text button{
	width: 150px;
	height: 35px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#17d1ac;
}
.about-text button:hover{
	background-color: #c0fad1;
	transition: all ease 0.3s;
}

#services{
		width:100%;
	height:100vh;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px ;
	
}
 
.s-heading h1{
	color:#FFFFFF;
	font-size: 3rem;
	margin: 0px;
	padding: 0px;
	
}
.s-heading p{
	color:rgba(255,255,255,0.30);
	font-size: 10rem;
	margin: 0px;
	padding: 0px;
}
.s-heading{
	text-align: center;
	margin: 20px 0px;
}
.s-box{
	background-color: #2B2B2B;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}
.b-container{
	display: flex;
	justify-content: center;
	align-content: center;
 
	
}
.s-b-img{
	width: 100%;
	height: 70%;
	
}
.s-b-img img{
	width:100%;
	height: 100%;
	
}
.s-b-text{
	width: 100%;
	height: 30%;
	background-color:#1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.s-b-text a{
	margin: 0px;
	color:#FFFFFF;
	font-size: 1.1rem;
	font-family: calibri;
	display: block;
    display: -webkit-box;
	max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.s-b-text a:hover{
	color:#ffffff80;
}
.s-type{
	font-family: calibri;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;
	
}

.dropbtn {
  background-color: rgb(248, 173, 127);
  color:#6c707c;
  font-size: 16px;
  font-weight: bold;
  border: none;
  font-family:Poppins;
  letter-spacing: 3px;
	transform: translate(15%,-20%);
	padding-top: 20px;
	margin: 0;
	padding-left: 1px;
	left: 20%;
	top: 50%;
	
	
	
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(141, 117, 117);
  font-size: 1rem;
	margin: 10px;
	padding: 10px;
	font-family: calibri;

  text-decoration: none;
  display: block;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-content a:hover {background-color: rgb(235, 196, 152);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #070707;}

}

#table{
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
	position: center;
}

td, th {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 7px;
}

tr:nth-child(even) {
 	 background-color: #F6DDCC;


}

.parallax {
	/* The image used */
	background-image: url("../images/exp1.jpg");
                  
	/* Set a specific height */
	min-height: 500px; 
                  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

